.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newCarousel {
  border: 1px solid #464c56;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 14px;
}
.guideAlert {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 15px;
  /* background-color: #28549cb9; */
  background-color: #8ba6d11e;
  border: none;
  color: var(--text-color);
}
.guideAlert .ant-alert-message {
  color: var(--text-color);
}
.list-item:hover {
  background-color: #24282d;
}
.list-item:first-child:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list-item:last-child:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/**************************************/
/* Counter Page */
/**************************************/
.calculate-card {
  display: flex;
  justify-content: center;
  background: #4a4c505e;
  border: none;
  color: var(--text-color);
}
.counter-button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.counter-input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.counter-input .ant-input-clear-icon {
  color: var(--text-color);
}
